bleach==1.5.0
certifi==2017.1.23
cffi==1.7.0
click==6.7
cryptography==1.7.1
cycler==0.10.0
decorator==4.0.11
entrypoints==0.2.2
eventlet==0.19.0
Flask==0.11.1
Flask-SocketIO==2.7.1
greenlet==0.4.12
h5py==2.6.0
html5lib==0.999
idna==2.1
imageio==1.5
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.1.5
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.4.0
jupyter-console==5.1.0
jupyter-core==4.2.1
Keras==1.2.2
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
moviepy==0.2.2.13
nbconvert==5.1.1
nbformat==4.2.0
networkx==1.11
notebook==4.4.1
numpy==1.12.0
olefile==0.44
pandas==0.19.2
pandocfilters==1.4.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.3
Pillow==4.4.0
prompt-toolkit==1.0.13
protobuf==3.2.0
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==16.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-engineio==1.0.0
python-socketio==1.5.1
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
scikit-image==0.12.3
scikit-learn==0.18
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
statsmodels==0.8.0
tensorflow-gpu==1.0.0
terminado==0.6
testpath==0.3
Theano==0.8.2
tornado==4.4.2
tqdm==4.11.2
traitlets==4.3.1
wcwidth==0.1.7
Werkzeug==0.11.10
widgetsnbextension==1.2.3
